@fontName: Avenir-Light;
@titleColor: #63c8c8;

body {
  margin: 0;
}

.fugui-calendar{
  font-family: @fontName;
  overflow: hidden;
  width: 300px;

  /** common**/
  .hide {
    display: none !important;
  }

  /** title **/
  h1 {
    @titleTextColor: #fefefe;
    font-size: 28px;
    text-align: center;
    background: @titleColor;
    padding: 4px;
    margin: 0;
    color: @titleTextColor;
    font-weight: 400;
    z-index: 100;
    position: relative;

    button.title_btn {
      border: none;
      vertical-align: middle;
      background: none;
      font-size: 28px;
      text-align: center;
      background: @titleColor;
      padding: 4px;
      margin: 0;
      color: @titleTextColor;
      font-weight: 400;
    }

    button.prev,
    button.next {
      vertical-align: middle;
      border: none;
      background: none;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: @titleTextColor;

      &.prev {
        float: left;
      }
      &.next {
        float: right;
      }
    }
  }

  /** body **/
  .calendar_wrapper {
    position: relative;
  }

  .calendar-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;

    th, td {
      text-align: center;
      //padding: 5px;
      line-height: 40px;
      height: 40px;
      width: 100/7%;
      cursor: pointer;
    }

    td {
      &.exclude {
        color: #888;
      }

      &.selected{
        @selected_background: #f57;
        background: @selected_background;
        color: #fff;
        border-radius: 30px;
        animation: zoomout 0.1s forwards ease-in;

        &.exclude {
          background: #aaa;
        }
      }

      &:hover {
        animation: zoomin 0.1s forwards ease-in;
      }
    }

    &.blur{
      filter: blur(3px);
    }
  }

  .month_selector {
    list-style: none;
    padding: 0 10px 20px;
    margin: 0;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    // bottom:0;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #eee;

    opacity: 0;
    box-shadow: 0 0 10000px #555;

    // transition: transform 0.2s opacity 0.2s;

    li {
      @height: 60px;
      @button_highlight: #a2c;
      display: inline-block;
      width: 25%;
      border: 0;
      height: @height;
      text-align: center;
      line-height: @height;

      button {
        border: none;
        color: #666;
        background: none;
        margin: 10px auto;
        display: block;
        line-height: 50px;
        padding: 0 10px;
        min-width: 60%;
        font-size: 22px;
        cursor: pointer;
        border-bottom: 2px #eee solid;

        &:hover,
        &.active {
          border-bottom: 3px @button_highlight solid;
          color: #333;
        }
      }
    }
  }

  @ease-in-out-quad-custom: cubic-bezier(0.455, 0.030, 0.260, 0.915);

  /** Animation Classes **/
  .slide_open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition-property: opacity transform;
    transition-duration: 0.2s;
    transition-timing-function: @ease-in-out-quad-custom;
  }

  .slide_close {
    transform: translate3d(0, -200px, 0);
    opacity: 0;
    transition-property:  opacity transform;
    transition-duration: 0.2s;
    transition-timing-function: @ease-in-out-quad-custom;
  }

  .zoom_in_out {
    animation: zoom_in_out 0.3s forwards ease-out;
  }

  .fade_in_out {
    animation: fade_in_out 0.3s linear;
  }

  .blur_in_out {
    animation: blur_in_out 0.3s linear;
  }

  /** Keyframe Animations **/
  @keyframes zoomin {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
  }

  @keyframes zoomout {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
  }

  @keyframes zoom_in_out {
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(0.5); opacity: 0.5;}
    100%{transform: scale(1); opacity: 1;}
  }

  @keyframes fade_in_out {
    0% {opacity: 1;}
    20% {opacity: 0.5;}
    60% {opacity: 0.5;}
    100%{opacity: 1;}
  }

  @keyframes blur_in_out {
    0% {filter: blur(0); opacity: 1;}
    50% {filter: blur(2px); opadity: 0.3;}
    100% {filter: blur(0); opacity: 1;}
  }
}